{% extends 'client/base.html'%}
{% block content %}
<div class="col-12 mb-5">
<a class="btn btn-outline-primary" href="{% url 'client:main'%}">Назад</a>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="cart-body">
                <div class="card-body">
                    {{ form }}
                    <h3 class="mb-2">Название: {{ object.name }}</h3>
                    <p class="mb-2">Текст: {{ object.body }}</p>
                </div>
                <div class="card-footer">
                    {% if  object.is_active == True %}
                    <p class="mb-2">Активна</p>
                    {% else %}
                    <p class="mb-2">Неактивна</p>
                    {% endif %}
                    <p class="mb-2">{{ get_is_active }}</p>
                    <p class="mb-2">Статус: {{ object.get_status_display }}</p>
                    <p class="mb-2">Время старта: {{ object.time_start }}</p>
                    <p class="mb-2">Время окончания: {{ object.time_end }}</p>
                    <div class=" mb-2"> Периодичность: {{ object.get_periodicity_display }}</div>
                    {% if object.get_day_display != None %}
                    <p class="mb-2">Запуск каджого {{ object.get_day_display }} числа</p>
                    {% endif %}
                    {% if object..get_day_week_display != None %}
                    <p class="mb-2">Запуск каждый {{ object.get_day_week_display }}</p>
                    {% endif %}
                    <div class=" mb-6"> Автор: {{ object.user }}</div>
                    <input type="button" onclick="history.back();" value="Назад"/>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}