{% extends 'client/base.html'%}
{% block content %}
{% load my_tags %}
<div class="col-12 mb-5">
<a class="btn btn-outline-primary" href="{% url 'mailing:message_list'%}">Назад</a>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="cart-body">
                <div class="card-body">
                    {{ form }}
                    <h3 class="mb-2">Тема сообщения: {{ object.title }}</h3>
                    <p class="mb-2">Текст сообщения: {{ object.text }}</p>
                </div>
                <div class="card-footer">
                    <div class=" mb-6"> Автор: {{ object.user }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}