{% extends 'client/base.html' %}
{% block content %}
{% load my_tags %}
<div class="col-12 mb-5">
    {% user_groups as user_group %}
    {% if perms.mailing.add_mailing %}
    <a class="btn btn-outline-primary" href="{% url 'client:client_create'%}">Добавить клиента</a>
    {% endif %}
    <a class="btn btn-outline-primary" href="{% url 'client:main'%}">Назад</a>
</div>
{% for object in object_list %}
{% if user == object.user %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object.full_name }}</p>
            <p class="card-text">{{ object.email }}</p>
            <p class="card-text">{{ object.comment }}</p>
            <p class="card-text">
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'client:client_detail' object.pk %}">Просмотр</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'client:client_edit' object.pk %}">Редактировать</a></button>
                        <button type="button" class="btn btn-sm btn-outline-danger"><a href="{% url 'client:client_delete' object.pk %}">Удалить</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}