{% extends 'client/base.html'%}

{% block content %}
<div class="col-sm-12 offset-md py">
    <h4 class="text-black">МЕНЮ</h4>
        <div class="col-12 mb-3">
        <a href="/" class="btn btn-outline-primary">Главная</a>
        <a href="{% url 'client:client_list' %}" class="btn btn-outline-primary">Клиенты</a>
        <a href="{% url 'mailing:mailing_list' %}" class="btn btn-outline-primary">Рассылки</a>
        <a href="#" class="btn btn-outline-primary">Блог</a>
        {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}" class="btn btn-outline-primary">Профиль</a>
            <a href="{% url 'users:logout' %}" class="btn btn-outline-primary">Выход</a>
        {% else %}
            <a href="{% url 'users:register' %}" class="btn btn-outline-primary">Регистрация</a>
            <a href="{% url 'users:login' %}" class="btn btn-outline-primary">Войти</a>
        {% endif %}
        </div>
</div>
<p>Количество рассылок: {{ mailing }}</p>
<p>Количество активных рассылок: {{ mailing_active }}</p>
<p>Количество уникальных клиентов для рассылок: {{ client }}</p>
{% endblock %}