{% extends 'client/base.html'%}

{% block content %}
<div class="col-12  ">
    <div class="row">
        <div class="col-6 mt-4">
            <div class="card">
                <div class="cart-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                        <a class="btn btn-warning" href="{% url 'blogs:list' %}" >Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}