{% extends 'client/base.html' %}
{% block content %}
{% load my_tags %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-4"></div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Изменение активности пользователя {{ user }}
                    </div>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.is_active }} : Активность пользователя

                </div>
            </div>
            <br>
             <button type="submit" class="btn btn-success">Подтвердить</button>
            <button><a href="{% url 'users:users_list' %}" class="btn btn-warning">Отмена</a></button>
        </div>
    </form>
</div>

{% endblock %}