{% extends 'client/base.html'%}
{% block content %}
{% load my_tags %}

<title>Пользователи</title>

<h2>Пользователи</h2>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% user_groups as user_group %}
    {% for object in objects_list %}
    {% if object.groups.all.0 == user_group %}
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ object.email }}</h3>
            </div>
            <div class="card-footer">
                <a class="mb-4"></a>
                <a class="btn btn-outline-primary " href="{% url 'users:profile_manager' object.pk %}">
                    {% if object.is_active %}
                    Заблокировать
                    {% else %}
                    Разблокировать
                    {% endif %}</a>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
    {% endfor%}
</div>

{% endblock %}