{% extends "client/base.html" %}
{% block content %}
<title>Логи рассылок</title>

<main role="main" class="inner cover">
    <h2 class="cover-heading">Логи рассылок</h2>
    <br>
</main>

<div class="table">
    {% for object in objects_list %}
    {% manager_groups as manager_group %}
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">{{ object.time_try }}</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Рассылка:  {{ object.mailing_current }}</p>
                {% if object.server_response %}
                <p class="card-text">Ответ сервера:  {{ object.server_response }}</p>
                {% endif %}
                {% if user == object.user %}
                <p class="card-text">клиент:  {{ object.client }}</p>
                {% endif %}
                <p class="card-text">Автор рассылки:  {{ object.user }}</p>
            </div>
            <div class="card-footer">
                <div class=" mb-2"> Статус рассылки:  {{ object.status }}</div>
                <a class="mb-4"></a>

            </div>
        </div>
    </div>
    <br>

    {% endfor%}

</div>
{% endblock %}