{% extends "client/base.html" %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-1">Журнал рассылок</h1>
</div>

<div class="container col-8 mt-2 mb-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Статистика</h1>
        </div>
        <div class="card-body">
            <div class="row text-center ">
                <div class="col-12">
                    <table class="table">
                        <tr>
                            <th><h4>Количество отправленных писем</h4></th>
                            <th><h4>Количество успешно отправленных писем</h4></th>
                            <th><h4>Количество ошибок</h4></th>
                        </tr>
                        <body>
                        <tr>
                            <td><h4>{{ all }}</h4></td>
                            <td><h4>{{ success }}</h4></td>
                            <td><h4>{{ error }}</h4></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container col-10">
    <div class="card">
        <div class="card-header text-center">
            <h1>Рассылки</h1>
        </div>
        <div class="card-body">
            <div class="col-12">
                <table class="table text-center">
                    <tr>
                        <th><h4>Время рассылки</h4></th>
                        <th><h4>Данные рассылки</h4></th>
                        <th><h4>Получатель рассылки</h4></th>
                        <th><h4>Статус рассылки</h4></th>
                    </tr>
                    {% for object in object_list %}
                    <tr>
                        <td><h4>{{ object.time }}</h4></td>
                        <td><h4>{{ object.mailing_list }}</h4></td>
                        <td><h4>{{ object.client }}</h4></td>
                        <td><h4>
                            {% if object.status %}
                            <p style="color:green">Успешно</p>
                            {% else %}
                            <p style="color:red">Ошибка</p>
                            {% endif %}
                        </h4></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}